{include file="comm/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body table-tool-mini full-table">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input class="layui-input" name="key" placeholder="请输入姓名/关键字" autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <select name="type" id="type">
                            <option value="">请选择分类</option>
                            {volist name="list" id="vo"}
                            <option value="{$vo.type_id}">{$vo.type_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn icon-btn" lay-filter="searchUser" lay-submit>
                            <i class="layui-icon layui-icon-search"></i>搜索
                        </button>
                    </div>
                </div>
            </div>

            <table id="tableUser" lay-filter="tableUser"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBarUser">
<!--    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">选题</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">选题</a>
</script>

{include file="comm/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;

        // 渲染表格
        var insTb = table.render({
            elem: '#tableUser',
            url: '{:url("gettimu")}',
            page: true,
            even: true,
            limits: [10, 20, 50, 100],
            limit: 10,
            cols: [[
                {type: 'checkbox'},
                {align: 'center', field: 'timu',title: '题目', style:'cursor: pointer;',event:'chakan'},
                {align: 'center', field: 'type_name', title: '题目类型'},
                {align: 'center', field: 'realname', title: '老师姓名'},
                {align: 'center', field: 'xuantiqingkuang', sort: true, title: '选题人数'},
                {align: 'center', field: 'xuantiren',  title: '学生姓名'},
                {align: 'center', toolbar: '#tableBarUser', title: '操作', minWidth: 200}
            ]]
        });

        // 搜索
        form.on('submit(searchUser)', function (data) {
            insTb.reload({where: data.field}, 'data');
        });

        // 工具条点击事件
        table.on('tool(tableUser)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'del') { // 修改
                layer.confirm('确定要选择该题'+""+'吗？', {
                    skin: 'layui-layer-admin',
                    shade: .1,
                    icon:3
                }, function (index) {
                    layer.close(index);
                    layer.load(2);
                    $.post("{:url('xuanti')}", {
                        timu_id: data.timu_id
                    }, function (res) {
                        layer.closeAll('loading');
                        if (res.code === 1) {
                            layer.msg(res.msg, {icon: 1});
                            insTb.reload({}, 'data');
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }, 'json');
                });
            }
            else if(layEvent === 'chakan')
            {
                doEdit(data);
            }
        });

        function doEdit(data) {
            //添加id的目的为防止用户编辑时显示用户密码
            var layIndex = admin.open({
                title: (data ? '查看' : '添加') + '题目',
                url: "{:url('chakan')}",
                data: {data: data},     // 传递数据到表单页面
                end: function () {
                    if (admin.getLayerData(layIndex, 'formOk')) {  // 判断表单操作成功标识
                        insTb.reload();  // 成功刷新表格
                        insTb2.reload();
                    }
                },
                success: function (layero, dIndex) {
                    // 弹窗超出范围不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        // 删除
        function doDel(user_id,user_name) {
            layer.confirm('确定要删除数据'+user_name+'吗？', {
                skin: 'layui-layer-admin',
                shade: .1,
                icon:3
            }, function (index) {
                layer.close(index);
                layer.load(2);
                $.post("{:url('userDel')}", {
                    user_id: user_id
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({}, 'data');
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
            });
        }

    });
</script>
